[Unit]
Description= wakeword engine
After= sound.target pulseaudio.service
[Service]
Type=simple
ExecStart=/usr/bin/wakeup_demo
[Install]
WantedBy=multi-user.target