[Unit]
Description=Music Player 
After=bb-wl18xx-bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/root/apps/mp/mplayer_main.py

[Install]
WantedBy=multi-user.target
