[Unit]
Description=Music Player 
After=bluetooth.target bb-wl18xx-bluetooth.service pulseaudio.service sound.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/root/music-player/mplayer_main.py

[Install]
WantedBy=multi-user.target
