[Unit]
Description=Boot sequence service
After=network.target bb-wl18xx-bluetooth.service

[Service]
Type=simple
ExecStart=/bin/bash /home/root/Init_For_Starting.sh
#Restart=on-failure
#RestartSec=1

[Install]
WantedBy=multi-user.target