[Unit]
Description=BB WL18xx Bluetooth Service
After=bluetooth.service

[Service]
ExecStart=/usr/bin/bb-wl18xx-bluetooth
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target

